<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('firmware.route_show', firmware_id=md.fw.firmware_id)}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'overview' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='overview')}}">Overview</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'guids' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='guids')}}">GUIDs</a>
{% if md.fw.vendor.allow_component_tags %}
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'tags' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='tags')}}">Tags</a>
{% endif %}
{% if (md.appstream_type == 'generic' and not md.protocol) or (md.protocol and md.protocol.can_verify) %}
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_checksums' else 'default'}}"
        href="{{url_for('components.route_checksums', component_id=md.component_id)}}">Checksums</a>
{% endif %}
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'update' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='update')}}">Update</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'description' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='description')}}">Description</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'issues' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='issues')}}">Issues</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page in ['requires', 'requires-advanced'] else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='requires')}}">Requires</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_show' and page == 'keywords' else 'default'}}"
        href="{{url_for('components.route_show', component_id=md.component_id, page='keywords')}}">Keywords</a>
{% if md.shards %}
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_shards' else 'default'}}"
        href="{{url_for('components.route_shards', component_id=md.component_id)}}">Shards</a>
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_certificates' else 'default'}}"
        href="{{url_for('components.route_certificates', component_id=md.component_id)}}">Certificates</a>
{% endif %}
{% if md.swids %}
      <a class="btn px-2 btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_swids' else 'default'}}"
        href="{{url_for('components.route_swids', component_id=md.component_id)}}">SBoM</a>
{% endif %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'components.route_export' else 'default'}}"
        href="{{url_for('components.route_export', component_id=md.component_id)}}">XML</a>
    </div>
  </div>
</nav>
