<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_show' else 'default'}}"
        href="{{url_for('firmware.route_show', firmware_id=fw.firmware_id)}}">Details</a>
{% if not fw.is_deleted %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_target' else 'default'}}"
        href="{{url_for('firmware.route_target', firmware_id=fw.firmware_id)}}">Target</a>
{% endif %}
{% if fw.tests|length > 0 %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_tests' else 'default'}}"
        href="{{url_for('firmware.route_tests', firmware_id=fw.firmware_id)}}">Tests</a>
{% endif %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_components' else 'default'}}"
        href="{{url_for('firmware.route_components', firmware_id=fw.firmware_id)}}">Components</a>
{% if fw.check_acl('@modify-affiliation') %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_affiliation' else 'default'}}"
        href="{{url_for('firmware.route_affiliation', firmware_id=fw.firmware_id)}}">Vendor</a>
{% endif %}
{% if fw.problems|length > 0 %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_problems' else 'default'}}"
        href="{{url_for('firmware.route_problems', firmware_id=fw.firmware_id)}}">Problems</a>
{% endif %}
{% if fw.check_acl('@view-analytics') %}
{% if fw.download_cnt > 0 %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_analytics_clients' else 'default'}}"
        href="{{url_for('firmware.route_analytics_clients', firmware_id=fw.firmware_id)}}">Downloads</a>
{% endif %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_analytics_reports' else 'default'}}"
        href="{{url_for('firmware.route_analytics_reports', firmware_id=fw.firmware_id)}}">Reports</a>
{% endif %}
{% if fw.check_acl("@modify") %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'firmware.route_assets' else 'default'}}"
        href="{{url_for('firmware.route_assets', firmware_id=fw.firmware_id)}}">Assets</a>
{% endif %}
    </div>
  </div>
</nav>
