{% extends "default.html" %}
{% block title %}Firmware Tests{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
{% if fw.tests|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Tests</h2>
    <p class="card-text">
      No tests are required.
    </p>
  </div>
</div>
{% endif %}

{% for test in fw.tests %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{test.color}}">
    {{format_plugin_id(test.plugin_id).name}}
    <span class="float-right">{{format_humanize_naturaltime(test.timestamp)}}</span>
  </h2>
  <div class="card-body">
    <p class="card-text">
      {{format_plugin_id(test.plugin_id).summary}}
    </p>
{% if test.waived_ts %}
    <p class="card-text">
      Waived by <code>{{test.waived_user.username}}</code> on {{test.waived_ts.strftime('%F %T')}}
    </p>
{% endif %}
{% if test.is_pending %}
    <p class="card-text">Test is pending…</p>
{% elif test.is_running %}
    <p class="card-text">Test is running since {{test.started_ts.strftime('%F %T')}}…</p>
{% endif %}
{% if test.attributes|length > 0 %}
    <ul class="card-text">
{% for attr in test.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% endif %}
{% if test.container_id %}
    <p class="card-text">
      Run on container <code>{{test.container_id}}</code>.
    </p>
{% endif %}
    <div class="form-row">
{% if test.started_ts and test.check_acl('@retry') %}
      <form action="{{url_for('tests.route_retry', test_id=test.test_id)}}" method="POST" class="form-inline mr-3">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-info">Retry</button>
      </form>
{% endif %}
{% if test.result != TestResult.PASS and test.ended_ts and test.waivable and not test.waived_ts and test.check_acl('@waive') %}
      <form action="{{url_for('tests.route_waive', test_id=test.test_id)}}" method="POST" class="form-inline mr-3">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning">Waive</button>
      </form>
{% endif %}
{% if test.waived_ts and g.user.check_acl('@admin') %}
      <form action="{{url_for('tests.route_unwaive', test_id=test.test_id)}}" method="POST" class="form-inline mr-3">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning">Unwaive</button>
      </form>
{% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
