<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_list' and not state else 'default'}}"
        href="{{url_for('tasks.route_list')}}">Recent</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_list' and state == 'pending' else 'default'}}"
        href="{{url_for('tasks.route_list', state='pending')}}">Pending</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_list' and state == 'running' else 'default'}}"
        href="{{url_for('tasks.route_list', state='running')}}">Running</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_scheduler_list' else 'default'}}"
        href="{{url_for('tasks.route_scheduler_list')}}">Schedulers</a>
    </div>
  </div>
</nav>
