{% extends "default.html" %}
{% block title %}User Queries{% endblock %}

{% block nav %}{% include 'query-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <h2 class="card-header card-title list-group-item-{{query.color}}">
    {{query.kind}} :: {{query.title}}
    <span class="float-right">{{format_humanize_naturaltime(query.ctime)}}</span>
  </h2>
  <div class="card-body">
    <pre class="mb-3">{{query.value}}</pre>
{% if query.check_acl('@retry') and query.ended_ts %}
    <form action="{{url_for('queries.route_retry', yara_query_id=query.yara_query_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-info">Retry</button>
    </form>
{% endif %}
  </div>
</div>

{% if query.results|length == 0 %}
<div class="card mt-3">
  <div class="card-body">
  <p class="card-text">
    No matching shards.
  </p>
  </div>
</div>
{% endif %}

{% for result in query.results %}
<!-- query_{{result.yara_query_id}} -->
<a name="query_result_{{result.yara_query_result_id}}"></a>
{% set md = result.md %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{query.color}}">
    {{md.name_with_vendor_category}}: {{result.result}}
  </h2>
{% if result.shard %}
  <div class="card-body">
{% set shard = result.shard %}
      <table class="table table-borderless">
{% if shard.info %}
        <tr class="row">
          <th class="col-2">Name</th>
          <td class="col">{{shard.name}}</td>
        </tr>
{% endif %}
{% if shard.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard.size)}}</td>
        </tr>
{% endif %}
{% if shard.entropy %}
        <tr class="row">
          <th class="col-2">Entropy</th>
          <td class="col">{{shard.entropy|round(2)}}</td>
        </tr>
{% endif %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{shard.guid}}</code></td>
        </tr>
{% for csum in shard.checksums %}
        <tr class="row">
          <th class="col-2">{{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
      </table>
    <a class="card-link btn btn-info" href="{{md.fw.revisions[0].url}}">Download Archive</a>
    <a class="card-link btn btn-info" href="{{url_for('shards.route_download', component_shard_id=shard.component_shard_id)}}">Download File</a>
{% if shard.checksum %}
    <a class="card-link btn btn-info" href="{{url_for('firmware.route_shard_search', kind='checksum', value=result.shard.checksum)}}">Show all</a>
{% endif %}
  </div>
{% else %}
  <div class="card-body">
      <table class="table table-borderless">
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(md.release_download_size)}}</td>
        </tr>
{% for guid in md.guids %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{guid.value}}</code></td>
        </tr>
{% endfor %}
        <tr class="row">
          <th class="col-2">SHA1</th>
          <td class="col text-truncate"><code>{{md.checksum_contents_sha1}}</code></td>
        </tr>
        <tr class="row">
          <th class="col-2">SHA256</th>
          <td class="col text-truncate"><code>{{md.checksum_contents_sha256}}</code></td>
        </tr>
      </table>
    <a class="card-link btn btn-info" href="{{md.fw.revisions[0].url}}">Download Archive</a>
    <a class="card-link btn btn-info" href="{{url_for('components.route_download', component_id=md.component_id)}}">Download Component</a>
  </div>
{% endif %}
</div>
{% endfor %}

{% endblock %}

