{% if tests_by_type %}
<nav class="row">
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_view' else 'default'}}"
        href="{{url_for('settings.route_view', plugin_id=plugin.id)}}">Settings</a>
{% if tests_by_type['recent'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='recent' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='recent', plugin_id=plugin.id)}}">Recent</a>
{% endif %}
{% if tests_by_type['pending'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='pending' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='pending', plugin_id=plugin.id)}}">Pending ({{tests_by_type['pending']|length}})</a>
{% endif %}
{% if tests_by_type['running'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='running' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='running', plugin_id=plugin.id)}}">Running ({{tests_by_type['running']|length}})</a>
{% endif %}
{% if tests_by_type['success'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='success' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='success', plugin_id=plugin.id)}}">Success ({{tests_by_type['success']|length}})</a>
{% endif %}
{% if tests_by_type['warning'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='warning' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='warning', plugin_id=plugin.id)}}">Warnings ({{tests_by_type['warning']|length}})</a>
{% endif %}
{% if tests_by_type['failed'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='failed' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='failed', plugin_id=plugin.id)}}">Failed ({{tests_by_type['failed']|length}})</a>
{% endif %}
{% if tests_by_type['waived'] %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'settings.route_tests' and kind=='waived' else 'default'}}"
        href="{{url_for('settings.route_tests', kind='waived', plugin_id=plugin.id)}}">Waived ({{tests_by_type['waived']|length}})</a>
{% endif %}
    </div>
  </div>
</nav>
{% endif %}
