{% extends "default.html" %}
{% block title %}Protocol Flag Details{% endblock %}

{% block nav %}{% include 'protocol-nav.html' %}{% endblock %}

{% block content %}

<form id="modify" method="post" action="{{url_for('protocols.route_flag_modify', protocol_id=pdf.protocol_id, protocol_device_flag_id=pdf.protocol_device_flag_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
<form id="delete" action="{{url_for('protocols.route_flag_delete', protocol_id=pdf.protocol_id, protocol_device_flag_id=pdf.protocol_device_flag_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card mt-3">
  <div class="card-body">
    <div class="form-group">
      <label for="name">Value</label>
      <input form="modify" type="text" class="form-control" id="value" name="value" value="{{pdf.value}}" placeholder="offline..." required>
    </div>
    <div class="form-group">
      <label for="summary">Requirement</label>
      <input form="modify" type="text" class="form-control" id="fwupd_version" name="fwupd_version" value="{{pdf.fwupd_version if pdf.fwupd_version}}" placeholder="1.9.5..." required>
    </div>
    <div class="form-group mt-3 mb-0">
      <input form="modify" type="submit" class="btn btn-primary" value="Modify">
      <button form="delete" class="btn btn-danger ml-2">Delete</button>
    </div>
  </div>
</div>

{% endblock %}
