{% extends "default.html" %}

{% block title %}MetaInfo Files : Update Protocol Device Flags{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <p class="card-text">
      Allowed values for <code>LVFS::DeviceFlags</code> are currently:
    </p>
    <table class="table">
      <tr class="row">
        <th class="col-3">Protocol</th>
        <th class="col-3">Device Flag</th>
        <th class="col-3">fwupd Requirement</th>
      </tr>
{% for pdf in protocol_device_flags %}
      <tr class="row">
        <td class="col-3"><code>{{pdf.protocol.value}}</code></td>
        <td class="col-3"><code>{{pdf.value}}</code></td>
        <td class="col-3"><code>{{pdf.fwupd_version}}</code></td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

{% endblock %}
